
section {  
    background: #fff;  
    margin: 20px 0;  
    padding: 20px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    border-radius: 10px;  
}  

/* Estilo para encabezados */  
h1, h2, h3, h4 {  
    color: #f4f4f4;  
    text-align: center;  
    background-color: #333;  
    padding: 10px 0;  
}  

/* Media Queries para responsividad */  
@media (max-width: 768px) {  
    section {  
        margin: 15px 0;   
        padding: 15px;  
    }  

    h1, h2, h3, h4 {  
        font-size: 24px;  
    }  
}  

@media (max-width: 480px) {  
    section {  
        margin: 10px 0;  
        padding: 10px; 
    }  

    h1 {  
        font-size: 22px;  
    }  

    h2 {  
        font-size: 20px;   
    }  

    h3 {  
        font-size: 18px;  
    }  

    h4 {  
        font-size: 16px;   
    }  
}  